<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>

    <p class="font-weight-normal">Do operations with:</p>
    <nav class="navbar bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/category}">category</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/price}">price</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/product}">product</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/generate}">generate data</a>
            </li>
        </ul>
    </nav>


    <p class="font-weight-normal">Product list:</p>
    <div th:switch="${not #lists.isEmpty(products)}">
        <span th:case="${true}">
            <table class="table table-dark">
                 <thead>
                 <tr>
                     <th scope="col"> id </th>
                     <th scope="col"> name </th>
                     <th scope="col"> prices </th>
                     <th scope="col"> categories </th>
                     <div sec:authorize="isAuthenticated()">
                     <th scope="col"></th>
                     <th scope="col"></th>
                     </div>

                 </tr>
                 </thead>
                 <tbody>
            <tr th:each="product : ${products}">
                     <td scope="row" th:text="${product.id}"/>
                    <td th:text="${product.name}"/>
                    <td th:text="${product.prices}"/>
                    <td th:text="${product.categories}"/>
                <div sec:authorize="isAuthenticated()">
                    <td>
                        <form method="get" th:action="@{/product/update}">
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <button type="submit">edit</button>
                        </form>
                    </td>
                    <td>
                        <form>
                            <button type="submit" th:id="${product.id}" class="deletebutton">delete</button>
                        </form>
                    </td>
                </div>

            </tr>
             </tbody>
             </table>
        </span>
        <span th:case="${false}">
            <p class="font-weight-normal">Empty list</p>
        </span>
    </div>


    <!-- products pagination -->
    <nav aria-label="Pagination" th:if="${products.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${products.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${products.number lt 2 ? 1 : products.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:classappend="${i eq products.number + 1} ? 'active'"
                th:each="i : ${#numbers.sequence( 1, products.totalPages, 1)}">
                <a class="page-link" th:href="@{?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${products.number + 1 eq products.totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{?page={id}(id=${products.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>


</div>
<script th:src="@{/js/jquery-3.5.0.min.js}"></script>
<script th:src="@{/js/product/delete.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
</body>
</html>
